.drag-drop-zone {
  margin: 2.5rem 2.5rem 2.5rem;
  height: calc(100% - 5rem);
  /* background: rgba(222, 108, 0, 0.5); */
  position: relative;
  opacity: 0.5;
}
/* .drag-drop-zone p {
  font-size: 44px;
  margin-top: 5rem;
  padding: 0 0 45rem 0;
  position: absolute;
  text-align: center;
  width: 100%;
  opacity: 0.5;
} */

.drag-drop-zone {
  border: 6px dashed white;
}

.drag-drop-zone :hover {
  opacity: 0.7;
  /* border: 6px dashed white; */
}

video {
  max-width: 1920px;
  max-height: 1080px;
}
