html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.drag-drop-zone {
  padding: 2rem;
  text-align: center;
  background: #07f;
  border-radius: 0.5rem;
  box-shadow: 5px 5px 10px #c0c0c0;
}
.drag-drop-zone p {
  color: #fff;
}
.drag-drop-zone.inside-drag-area :hover {
  opacity: 0.7;
  border: 5px dashed greenyellow;
}
.dropped-files li {
  color: #07f;
  padding: 3px;
  text-align: left;
  font-weight: bold;
}

.draggy {
  width: 150px;
  height: 150px;
  resize: both;
  overflow: auto;
  border: 1px solid #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.handle {
  height: 100%;
  /* cursor: move; */
  pointer-events: auto;
}
.parent {
  position: relative;
  width: 728px;
  resize: both;
  overflow: auto;
}
.draggable-parent {
  /* background-color: green; */
  width: 728px;
  height: 100%;
  position: absolute;
  z-index: 2;
  top: 0;
  pointer-events: none;
}

.App {
  background-color: pink;
}

.x-preview {
  display: flex;
  flex: wrap;
  align-items: center;
  place-items: center;
}
.preview {
}

.download {
  background-color: green;
  display: inline-block;
  color: white;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
}
