.drag-drop-zone {
  text-align: center;
  background: black;
}
.drag-drop-zone p {
  color: #fff;
  padding: 100px;
}

.drag-drop-zone {
  border: 5px dashed white;
}

.drag-drop-zone :hover {
  opacity: 0.7;
  border: 5px dashed white;
}
